/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* night */
  --bgn50: #2c00728e;
  --bgn: #0d0025;
  --bgndeg: linear-gradient(0deg, #1d1831 0%, #2b0d5f 100%);
  --bgc: #3c00ff;
  --bgn2: #3c00ff;
  --tb: #ffffff;
  --tc: #df0091;
  --tg2: #8e8e8e;
  
  /* day */
  --tg: #555555;
  --bgb: #fdf3dd;
  --bgb2: #c3c3c3;
  --bgb50: #fdf3dd88;
  --tm: #7b00ff;
  --tn: #212121;
  --tc2: #df8d00;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--bgndeg);
  color: var(--tb);
  display: flex;
  transition: background-color 1s ease-in-out;
}

/* Main Container */
.container {
  display: flex;
  width: 100%;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 4rem;
  border-right: 1px solid var(--tb);
  padding: 1rem 0;
  position: fixed;
  height: 50%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  border-top-right-radius: 100rem;
  border-bottom-right-radius: 100rem;
  justify-content: center;
  top: 20%;
}

/* Navigation Icons */
.nav {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-items: center;
  text-align: center;
  align-items: center;
}

.nav a {
  font-size: 1.5rem;
  color: var(--tg2);
  margin: 1rem;
  text-decoration: none;
  transition: transform 0.3s ease-in-out, color 0.2s ease-in-out, text-shadow 0.3s ease-in-out;
}

/* Hover effect with scale and staggered transitions */
.nav a:hover, .nav a.active {
  transform: scale(1.6);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s ease-in-out, color 0.2s ease-in-out, text-shadow 0.2s ease-in-out;
}



.daynight {
  margin-top: 1rem;
  margin-left: 0.5rem;
  border-radius: 2rem;
  font-size: 1.6rem;
  width: 2.6rem;
  height: 2.6rem;
  margin-right: 0.5rem;
  padding-bottom: 0.4rem;
  color: var(--tc2);
  background-color: var(--bgn);
  text-align: center;
}


/* Main Content */
.main-content {
  margin-left: 5rem;
  padding: 2rem;
  width: calc(100% - 5rem);
  overflow-y: auto;
}

section {
  height: 80vh;
}

/* Mode Styles */
body.day-mode {
  background: var(--bgb2);
  color: var(--tg);
}

body.day-mode .sidebar {
  background-color: var(--bgb);
  border-right: 1px solid var(--tg);
}

body.day-mode .nav a:hover {
  color: var(--tb);
}

body.day-mode .nav a.active {
  color: var(--tc2);
}

body.day-mode .nav a:hover {
  color: var(--tm);
}

body.day-mode .daynight {
  background-color: var(--bgb);
  color: var(--tc2);
}

body.day-mode .daynight:hover {
  background-color: var(--bgn);
  scale: 1.2;
  transition: scale 0.2s ease;
}

body.night-mode {
  background: var(--bgndeg);
  color: var(--tb);
}

body.night-mode .sidebar {
  background-color: var(--bgn);
  border-right: 1px solid var(--tb);
}

body.night-mode .daynight {
  background-color: var(--bgn);
  color: var(--tc2);
}

body.night-mode .daynight:hover {
  background-color: var(--tc2);
  scale: 1.2;
  transition: scale 0.2s ease;
}

body.night-mode .nav a.active {
  color: var(--tb);
}

body.night-mode .nav a:hover {
  color: var(--tc2);
}
