@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --cr1: rgb(221, 81, 0);
  --cr2: rgb(221, 0, 147);
  --cr3: rgb(18, 0, 34);
  --bordeg1: linear-gradient(0deg, #ffffff, #929292);
  --bordeg2: linear-gradient(0deg, #000000, #252525);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth !important;
}

html, body {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  color: white;
  text-justify: auto;
}

.profile h1 {
  font-size: 2rem;
  color: var(--cr2);
}

.container {
  transition: background-color 1s ease-in-out !important;
  display: flex;
  width: 100%;
  height: 100vh;
  position: relative; /* Permite que el contenido esté encima del video */
}

.sidebar {
  width: 20rem; /* Use max-width to help with transitions */
  overflow: hidden; /* Prevents content overflow */
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  height: 100%;
  border: 1px solid rgba(102, 102, 102, 0.267);
  background-color: #ff007788;
  transition: background-color 0.5s ease-in-out, width 0.5s ease-in-out !important;
}

@media (max-width: 900px) {
  .sidebar {
    width: 10rem;
    transition: width 0.5s ease-in-out;
  }
  
  .profile img {
    width: 93%;
    height: auto;
    transition: width 0.3s ease-in-out;
  }

  .nav a {
    padding: 0.5rem 0;
    transition: padding 1s ease-in-out;
    margin: 0.5rem 0;
  }
}

.profile {
  text-align: center;
}

.profile-img {
  border-radius: 50%;
  width: 15rem;
  height: auto;
  margin-bottom: 1rem;
  border: 2px solid rgb(255, 255, 255);
  transition: width 2s ease-in-out;
}

.nav {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.nav a {
  transition: padding 0.5s ease-in-out !important;
  padding: 0.5rem 0.5rem;
  margin: 0.5rem 0;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  text-decoration: none;
  color: white;
  text-align: center;
  width: 100%;
  border-radius: 5px;
  transition: background 0.3s;
  font-size: 0.9rem;
}

.nav a:hover {
  background: rgba(255, 255, 255, 0.2);
  color: var(--cr1);
}

.main-content {
  margin-left: 20%;
  padding: 2rem;
  width: 80%;
  overflow-y: auto;
}

section {
  padding: 2rem 0;
}

h1 {
  font-size: 2rem;
  background-color: #3e0a91;
  padding: 0.1rem 0.5rem;
  width: max-content;
  transition: background-color 0.8s ease-in-out, color 0.8s ease-in-out;
}

body.light-mode .container {
  background-color: rgba(255, 255, 255, 0.425);
  transition: background-color 0.5s ease-in-out;
}

body.light-mode h1 {
  color: rgb(206, 0, 103);
  background-color: #ff942f;
  padding: 0.1rem 0.5rem;
  width: max-content;
  transition: background-color 0.8s ease-in-out, color 0.8s ease-in-out;
}

body.light-mode .sidebar {
  background-color: #ff910080;
  transition: background-color 0.5s ease-in-out;
}

body.light-mode p {
  color: var(--cr3);
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1.2rem;
}

strong {
  color: var(--cr2);
}

body.light-mode {
  background: var(--bordeg1);
  color: black;
}

#toggleTheme {
  margin-top: 1rem;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.2);
}

#toggleTheme:hover {
  background: rgba(61, 61, 61, 0.685);
}

a {
  border: 1px solid rgba(37, 37, 37, 0.527);
}

.video-background {
  position: fixed; /* Fijo para ocupar toda la pantalla */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Asegura que el video cubra toda la pantalla */
  z-index: -1; /* Coloca el video detrás del contenido */
}
